# =========================
# GEOCODING CONFIG
# =========================
VITE_GEOCODING_API_URL=
VITE_GEOCODING_FORMAT=json
VITE_GEOCODING_CITY=
VITE_GEOCODING_COUNTRY=

# =========================
# APP ENVIRONMENT
# =========================
VITE_APP_NAME=FindIt
VITE_APP_ENV=development

# =========================
# API BASE (caso futuramente use backend)
# =========================
VITE_API_BASE_URL=

# =========================
# FEATURE FLAGS (opcional mas útil pra testes)
# =========================
VITE_ENABLE_MOCKS=true
VITE_ENABLE_LOGS=true